
<h3><a href="{{ site.url}}/about/">About Our Firm</a></h3>
  <article>
    <p>
      Bamboo Law Group is a law firm based in Seattle, WA, but we help clients from all over the world in a wide variety of <a href="{{ site.url}}/services/">Services</a> and <a href="{{ site.url}}/industries/">Industries</a>. We love working with individuals, small businesses, and startups. We have experience working with clients in the video game industry, like game developers, streamers/youtubers, and professional eSports atheletes. It is our goal to deliver high quality, effective legal advice and solutions to our clients, and to provide our services at affordable prices. We can tailor our services in a way that fits your business strategy and helps you stay on budget. Check out our <a href="{{ site.url}}/about/">About</a> page to learn more about who we are.
    </p>
  </article>

<h3>What We Can Do For You</h3>
  <article>
    Bamboo Law Group offers legal advice and solutions in several different areas of law.
    <div class="flex-container">
      <div class="flex-item">
        <ul> Services
          <li>Contracts</li>
          <li>Business Formation</li>
          <li>Employment Law</li>
          <li>General Counsel Services</li>
        </ul>
      </div>
      <div class="flex-item">
        <ul> Industries
          <li>Small Businesses</li>
          <li>Startups</li>
          <li>Videogames</li>
        </ul>
      </div>
    </div>
    <div class="clear clearfix"></div>
    Head over to our <a href="{{ site.url}}/services/">Services and Industries</a> page to learn more about what we offer and how we can help.
    
  </article>





