
<h3><a href="{{ site.url}}/services/">Services We Provide</a></h3>
<p> we provide services in the following areas and industries</p>
<article>
  <div class="flex-container">
    <div class="flex-item">
      Contracts
    </div>
    <div class="flex-item">
      Contracts
    </div>
    <div class="flex-item">
      Contracts
    </div>
    <div class="flex-item">
      Contracts
    </div>
    <div class="flex-item">
      Contracts
    </div>
    <div class="flex-item">
      Contracts
    </div>
  </div>
</article>
<div class="largeshow">
  <article>
    <div class="flex-container">
      <div class="flex-item">
        <h2>Contracts</h2>
        <p>We do contract review and drafting</p>
      </div>
      <div class="flex-item">
        <h2>Contracts</h2>
        <p>We do contract review and drafting</p>
      </div>
      <div class="flex-item">
        <h2>Contracts</h2>
        <p>We do contract review and drafting</p>
      </div>
      <div class="flex-item">
        <h2>Contracts</h2>
        <p>We do contract review and drafting</p>
      </div>
      <div class="flex-item">
        <h2>Contracts</h2>
        <p>We do contract review and drafting</p>
      </div>
      <div class="flex-item">
        <h2>Contracts</h2>
        <p>We do contract review and drafting</p>
      </div>
      
    </div>
  </article>
</div>
<div class="smallshow">
  we offer lots of services for everyone click the link to go to the services page for more info.
</div>

<h3><a href="{{ site.url}}/about/">About Our Firm</a></h3>
<article>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae scelerisque metus. Proin accumsan orci eget quam auctor interdum. Pellentesque arcu risus, convallis at interdum volutpat, luctus congue magna. Mauris rhoncus elit vel finibus aliquet. Morbi porta nibh ut congue elementum. Pellentesque maximus vel arcu vitae vestibulum. Etiam fringilla ex viverra, pellentesque odio vitae, tristique est. Ut sed accumsan nisi. Proin vel nunc congue, posuere massa ac, feugiat ex. Vivamus luctus libero non mauris luctus fermentum. Ut in elit eu ipsum fermentum consequat non hendrerit lorem. Sed sed augue orci. In lorem felis, feugiat sit amet imperdiet in, pretium ut quam. Nam sit amet ullamcorper justo, lobortis tristique augue. Sed sollicitudin tincidunt sem. 
  </p>
</article>


