
<h3><a href="{{ site.url}}/about/">About Our Firm</a></h3>
  <article>
    Bamboo Law Group is a law firm based in Seattle, WA, but we help clients from all over the world in a wide variety of <a href="{{ site.url}}/services/">services</a> and <a href="{{ site.url}}/industries/">industries</a>. We love working with individuals, small businesses, and startups. We have experience working with clients in the video game industry, like game developers, streamers/youtubers, and professional eSports atheletes. It is our goal to deliver high quality, effective legal advice and solutions to our clients, and to provide our services at affordable prices. We can tailor our services in a way that fits your business strategy and helps you stay on budget. Check out our <a href="{{ site.url}}/about/">about</a> page to learn more about our firm and our attorney.
  </article>
<br/>
<h3>What We Can Do For You</h3>
  <article>
    Bamboo Law Group offers legal advice and solutions in several different areas of law to clients all over the world.
    <div class="clear clearfix"></div>
    <div class="fifty">
      <ul> <a href="{{ site.url}}/services/">Services</a>
        <li>Contracts</li>
        <li>Business Formation</li>
        <li>Employment Law</li>
        <li>General Counsel Services</li>
      </ul>
    </div>
    <div class="fifty">
      <ul> <a href="{{ site.url}}/industries/">Industries</a>
        <li>Game Developers</li>
        <li>eSports Atheletes and Teams</li>
        <li>Web Designers and Web Developers</li>
        <li>Startups</li>
        <li>Small Businesses</li>
      </ul>
    </div>
    <div class="clear clearfix"></div>
    Head over to our Services and Industries pages to learn more about what we offer and how we can help.
    
  </article>
<br />





