<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
    <span class="normal-text">
      <p>Invite us to your Slack!</p>
      <p class="center-text">Our Blog:
        <br/>
        <a href="#">LINK</a></p>
    </span>
  </div>
  <div id="index">
    {% include _static.html %}
    <h3><a href="{{ site.url}}/posts/">Recent Articles</a></h3>
    <p>Articles are written in plain english and offered as general advice on a variety of legal topics.</p>
      {% for post in site.post limit:5 %}
        <article>
          {% if post.link %}
            <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></a></h2>
          {% else %}
            <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
            <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
          {% endif %}
        </article>
      {% endfor %}
    
    <h3><a href="{{ site.url}}/contact/">Contact Us</a></h3>
    <p>We offer free thirty minute consultations! Contact us via the sidebar, or submit the below form with your general question or request.</p>
    <form action="//formspree.io/your@email.com" method="POST">
     <input type="text" name="name" placeholder="Your Name" class="fifty">
     <input type="text" name="_replyto" placeholder="Your email" class="fifty"/>
     <input type="hidden" name="_next" value="//site.io/thanks.html" />
     <input type="hidden" name="_subject" value="New submission!" class="fifty"/>
     <textarea placeholder="Your message" class="textbox-sizing"></textarea>
     <input type="submit" value="Send">
    </form> 
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
